<!DOCTYPE html>
<html>
  <head>

    <meta charset="utf-8">
    <title>{{ SONG_NAME }}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" type="text/css">


    <link rel="stylesheet" href="css/player.css">

    <script src="js/jquery.min.js"></script>
    <script src="js/player.js"></script>

    <link rel="icon" type="image/png" href="images/simple.png">

  </head>
  <body>

    <div class="music-card playing">
      
      <div class="image">
        <img src="{{ SONG_IMAGE }}" width="300" height="300">
      </div>
      
      <div class="wave"></div>
      <div class="wave"></div>
      <div class="wave"></div>
      
      <div class="info">
        <h2 class="title">{{ SONG_NAME }}</h2>
        <div class="artist">{{ SINGER }}</div>
      </div>
      
      <i class="fa fa-pause trigger" aria-hidden="true" style="display: block;"></i>
      <i class="fa fa-play trigger" aria-hidden="true" style="display: none;"></i>
    </div>

    <script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"16"},"slide":{"type":"slide","bdImg":"5","bdPos":"right","bdTop":"100"}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>

    <a id="song" style="display: none;" href="{{ SONG_URL }}"></a>
  </body>
</html>
